<div id="workspace" class="work">
    <span class="name" style="font-size:35px;color:black;font-family: 'Arial Black'">StringSpace</span>
    <span><img src="images/gears.png" width="50" height="50" align="right"> </span>
</div>

<div>
    <form>
        <input type="text" placeholder="Enter Your String" id="palindrome" required>
        <br>
        <br>
        <button id="submit" class="btn btn-primary" ng-click="checkPalindrome()">Submit</button>
        <br>
        <br>
        <input type="text" id="result" readonly ng-show="myValue">
    </form>
</div>

<div id="workspace2" class="work" style="margin-top: 150px">
    <span class="name" style="font-size:35px;color:black;font-family: 'Arial Black'">Range</span>
    <span><img src="images/gears.png" width="50" height="50" align="right"> </span>
</div>
<div id="numerical"style="margin-top: -10px;">
    <form>
        <input type="number" placeholder="Enter the min no." id="min" required>
        &nbsp;&nbsp;<input type="number" placeholder="Enter the max no." id="max" align="right" required>
        <br>
        <br>
        <button id="search" class="btn btn-primary" ng-click="findPalindrome()">Search</button>
        <br>
        <br>
        <input type="text" id="res" readonly ng-show="resValue">
    </form>
</div>







