<div id="workspace" class="work">
    <span class="name" style="font-size:35px;color:black;font-family: 'Arial Black'">StringSpace</span>
    <span><img src="images/gears.png" width="50" height="50" align="right"> </span>
</div>

<div>
    <form>
        <input type="text" placeholder="Enter Your String" id="palindrome" required>
        <br>
        <br>
        <button id="submit" class="btn btn-primary" ng-click="checkPalindrome()">Submit</button>
        <br>
        <br>
        <input type="text" id="result" readonly ng-show="myValue">
    </form>
</div>